{{ template "header-section.html" .}}
<h1 class="title">
    New gamble creation:
</h1>
<form action="/gamble/create" method="POST">
    <div class="field is-horizontal">
        <div class="field-body">
            <div class="field">
                <label class="label" for="code">Code:</label>
                <div class="control">
                    <input type="password" class="input" id="code" name="code">
                </div>
            </div>    
            <div class="field">
                <label class="label" for="title">Title:</label>
                <input type="text" class="input" id="title" name="title">
            </div>
        </div>
    </div>         
    <div class="field">
        <label class="label" for="description">Description:</label>
        <textarea class="textarea" id="description" name="description"></textarea>
    </div>    
    <div class="field is-grouped is-grouped-centered">
        <div class="control">
            <button type="submit" class="button is-primary">Create</button>
        </div>
    </div>
</form>
{{ template "footer-section.html" .}}