{{ template "header.html" .}}

<div class="content">
	<section class="section">
		<h1>{{ .title }}</h1>
		<p>{{ .description }}</p>
	</section>

	{{if .bettors }}
	<table class="table">
		<tr>
			<th>Ім'я</th>
			<th>Місце</th>
			<th colspan="2">Сума</th>
		</tr>
		{{range .bettors}}
			{{if .CanEdit }}
				{{ if $.isEdit }}
					{{ template "gamble-edit-row.html" . }}
				{{ else }}
					{{ template "gamble-own-row.html" . }}
				{{ end }}
			{{ else }}
				<tr>
					<td>{{.Username}}</td>  
					<td>{{.Place}}</td>  
					<td colspan="2">{{.Amount}}</td>
				</tr>
			{{ end}}                  
		{{end}}
	</table>
	{{ else }} 
	<center><h2>Немає ставок</h2></center>
	{{ end }}

	{{if not .bettorCode }}
	<section class="section">
		<form action="/gamble/{{.gambleCode}}/bet" method="POST">
			<div class="field is-horizontal">
					<div class="field has-addons">
						<div class="control">
							<input type="text" class="input" id="username" placeholder="Им'я" name="username">
						</div>

						<div class="control">
							<input type="text" class="input" id="place" placeholder="Місце" name="place">
						</div>

						<div class="control has-icons-left">
							<input type="text" class="input" id="amount" name="amount" value="1000">							
							<span class="icon-text">
								<span class="icon is-left">
									₴
								</span>
							</span>
						</div>
						<div class="control">
							<button type="submit" class="button is-primary">Поставити</button>
						</div>
				</div>
			</div>
		</form>
	</section>
	{{ end }}
</div>


{{ template "footer.html" .}}