<form action="/gamble/{{.GambleCode}}/bet" method="POST">
    <tr>
        <td class="is-vcentered">{{.Username}}</td>  
        <td class="is-vcentered">
            <div class="control">
                <input type="text" class="input" id="place" placeholder="Місце" name="place" value="{{.Place}}">
            </div>
        </td>  
        <td class="is-vcentered">
            <div class="control has-icons-left">
                <input type="text" class="input" id="amount" name="amount" value="{{.Amount}}">							
                <span class="icon-text">
                    <span class="icon is-left">
                        ₴
                    </span>
                </span>
            </div>
        </td>
        <td>
            <div class="field is-horizontal is-grouped is-grouped-right">
                <div class="field has-addons">
                    <div class="control">
                            <button type="submit" class="button is-success">✓</button>
                        </form>
                    </div>
                    <div class="control">
                        <a class="button is-danger" href="/gamble/{{.GambleCode}}">✗</a>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</form>