<tr>
    <td class="is-vcentered">{{.Username}}</td>  
    <td class="is-vcentered">{{.Place}}</td>  
    <td class="is-vcentered">{{.Amount}}</td>
    <td>
        <div class="field is-horizontal is-grouped is-grouped-right">
            <div class="field has-addons">
                <div class="control">
                    <form action="/gamble/{{.GambleCode}}/edit" method="GET">
                        <button type="submit" class="button is-warning">Редагувати</button>
                    </form>
                </div>
                <div class="control">
                    <form action="/gamble/{{.GambleCode}}/unbet" method="POST">
                        <button type="submit" class="button is-danger">Відмінити</button>
                    </form>
                </div>
            </div>
        </div>
    </td>
</tr>